<div id="background">
</div>

<div id="app">
</div>

<!-- APP VIEW -->

<script id="appView" type="text/x-underscore-template">
  <div class="navbar">
    <div class="logo">ST</div>
    <ul class="links">
      <li>Projects</li>
      <li>Blog</li>
    </ul>
  </div>

  <!-- CONTAINER TO RENDER OTHER VIEWS WITHIN -->
  <div id="main">
  </div>

  <div class="footer">
    <i class="fa fa-github-square"></i></a>
    <a href="http://www.linkedin.com/in/simontaylorau" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://twitter.com/SimonTaylorAU" target="_blank"><i class="fa fa-twitter-square"></i></a>
    <i class="fa fa-tumblr-square"></i>
  </div>
</script>

<!-- HOME VIEW -->
<script id="homeView" type="text/x-underscore-template">
  <div class="home">
    <div class="trans-window">
      <span class="site-heading">.simon taylor.</span>
    </div>
    <div class="projects">
      <h2>About Me</h2>
      <hr>
      <p>
        Hi, I'm Simon and I'm a full stack web developer! My focus is on Ruby on Rails and Javascript (in particular Backbone.js), but I love coding in general and am not language tied.<br><br>
        I previously worked for Macquarie Equipment Finance (part of the Macquarie Group) for 8 years, where we leased IT equipment to large government and corporate clients globally. My role at Macquarie was to manage the System Operations team who was the first level support team for all issues relating to our Oracle Lease Management Platform.<br><br>
        For the last several years I had regrets about not completing my degree in Computer Science (I switched to an Information System's degree after the first year) and wanted a way back into the industry. I love technology and knew programming was what I wanted to do as I really enjoyed it at university, but was hesitant to spend many years studying part time to complete a CS degree.<br><br>
        I then spoke to a friend of mine who suggested I should pursue web development as this is the future of the industry. He informed me that short courses were available and I did my research and found General Assembly. I first decided to do a part time course in Back End Web Development (solely Ruby on Rails) and after completing this late last year (2013) I knew this is what I want to do for my career. So I took a leap of faith, quit my job, signed up to the Web Development Immersive course (3 months, full time, 9-5) and studied hard.<br><br>
        Having now completed the course it was everything I had hoped for and now feel I am job ready and eager to start working in the industry!
      </p>
    </div>
  </div>
</script>