<div id="app">
</div>

<!-- APP VIEW -->

<script id="appView" type="text/x-underscore-template">
  <h1>Simon Taylor - Portfolio</h1>

  <ul class="navbar">
    <li>Home</li>
    <li>Projects</li>
  </ul>

  <!-- CONTAINER TO RENDER OTHER VIEWS WITHIN -->
  <div id="main">
  </div>
</script>

<!-- HOME VIEW -->
<script id="homeView" type="text/x-underscore-template">
  <p>This is the home view!</p>
</script>

