// INSPIRATION
// http://www.awwwards.com/web-design-awards/kartell-com

$orange: rgb(255,44,20);

body {
  margin: 0;
  font-family: 'FontAwesome', 'Arial';

  //apply background image
  background: url('nelson_city_bw.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//-----------------------------------------

// APP VIEW

.navbar {
  display: block;

  //required to right align the .links
  position: fixed;
  width: 100%;

  margin: 0;
  padding: 5px 10px;
  background-color: black;

  .logo {
    display: inline-block;

    //logo font
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 800;
    color: $orange;
    text-shadow: 1px 1px white;

    &:hover {
      color: white;
      text-shadow: -1px -1px gray;
    }
  }//.logo

  .links {
    display: inline-block;
    padding: 0 20px 0 0;

    //right align the links
    position: absolute;
    right: 0px;

    list-style: none;

    li {
      display: inline-block;

      padding-right: 30px;

      font-weight: bold;
      color: gray;

      &:hover {
        background-color: $orange;
        color: white;
      }//.li:hover
    }//.li
  }//.links 
}//.navbar

#main {
  //push down the content based on the navbar height
  padding-top: 59px;
}

.footer {
  padding: 5px 0;
  background-color: black;
  text-align: center;

  i.fa {
    padding: 0 5px;

    color: gray;
    font-size: 36px;

    &:hover {
      color: white;
    }
  }
}

//-----------------------------------------

// HOME VIEW

.home {
  .trans-window {
    .site-heading {
      display: block;
      text-align: center;

      padding: 150px 0;

      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 100px;
      font-weight: bold;
      /* Text Shadow */
      text-shadow: 3px 3px $orange;
    }
  }

  .about-me {
    // height: 500px;

    padding: 20px;

    background-color: rgb(44,44,44);

    color: white;

    hr {
      box-shadow: 1px 1px 0 $orange;
    }
  }
}

//-----------------------------------------

// PROJECTS VIEW

$spacing: 20px;

.projects {
  h2 {
    margin: 10px 0;

    text-align: center;

    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bold;
    /* Text Shadow */
    text-shadow: 2px 2px $orange;
  }

  .project-list {
    // background-color: green;
    padding: $spacing 0 $spacing $spacing;

    .project {
      display: inline-block;
      vertical-align: top;

      margin-right: $spacing;
      margin-bottom: 20px;
      padding: 20px;

      width: 357px;
      background-color: white;

      h3 {
        text-align: center;
      }

      img {
        width: 357px;
      }
    }
  }
}